.content {
  padding:10px !important;
}

.content-wrapper {
  background-color: white;
}

.centered{
  text-align: center;
}

.center-padded-p {
  text-align: center;
  margin: 5px 0px;
  padding: 6.5px 0px;
}

.justified-wide{
  text-align: justify;
  width: 115%;
}

.large {
  font-size: 125%;
}

.raised-rectangle {
    border: 2px solid #ccc; 
    padding: 5px;          
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.slategrey-bg {
  background-color: rgb(47, 79, 79, 0.1);
}

.slateblue-bg {
  background-color: rgb(106, 90, 205, 0.6);
}

